* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #131212e8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    font-size: 1.1rem;
    line-height: 1.3;
    padding: 20px;
}

a:link, a:visited {
    text-decoration: none;
    color: #5c5959;
}

h2 {
    margin-bottom: 10px;
}

.card {
    background-color: #ffffff;
    display: flex;
    max-width: 720px;
    border-radius: 25px;
    box-shadow: 0 4px 8px #0000001a;
    text-align: left;
    color: #474545;
    padding: 10px;
}

.img-container {
    background: linear-gradient(45deg, #00aeff60 50%, #f0f0f0 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

 
#profile-picture {
    background-color: #ffffff;
    max-width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    padding: 4px;
    border: 4px solid #ffffff;
}

.profile-data {
    background: linear-gradient(225deg, #00aeff60 10%, #f0f0f0 10%);
    padding: 15px 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-wrap: balance;
}

.social-links {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border: 0;
    padding: 10px 0;
}

.characteristics {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}


.social-link {
    font-weight: bold;
    border: 2px solid #5c59598e;
    padding: 8px 12px;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.social-link:hover, .more-info-button:hover {
    color: #0077cc;
    background-color: #e0f0ff;
}   

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 4px 0;
}

.more-info {
    display: flex;
    gap: 10px;
}

.more-info-button {
    padding: 8px;
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    border: 2px solid #5c59598e;
}

.current-time {
    margin-top: 20px;
    justify-self: center;
    font-weight: bold;
}


@media (max-width: 768px) {
    
    body {
        padding: 1rem;
    }
    
    .card {
        max-width: 400px;
        flex-direction: column;
        align-items: center;
    }

    .img-container {
        width: 100%;
        border-radius: 20px;
    }

    .profile-data {
        width: 100%;
        background: linear-gradient(315deg, #00aeff60 10%, #f0f0f0 10%);
        border-radius: 20px;
        text-align: center;
    }

    .img-container {
        margin-bottom: 15px;
    }

    .characteristics {
        justify-content: space-around;
        align-items: center;
        font-size: 0.9rem;
    }

    .social-links {
        justify-content: center;
    }
}

@media (max-width: 360px) {

    h2 {
        font-size: 1.2rem;
    }

    .card {
        max-width: 320px;
        min-width: 240px;
        border-radius: 15px;
        font-size: 1rem;
    }

    .img-container {
        width: 100%;
        padding: 5px;
    }

    #profile-picture {
        display: block;
        max-width: 150px;
        height: 150px;
        margin: 0 auto;
        object-fit: cover;
    }

    .profile-data {
        padding: 10px 15px;
    }

    .social-links {
        flex-direction: column;
        gap: 6px;
    }

    .social-link {
        padding: 4px 8px;
        font-size: 0.9rem;
    }

    .characteristics {
        flex-direction: column;
        gap: 8px;
    }
}